<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio_item.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @portfolio_item.body %>
</p>

<h2>Technologies Used</h2>

<ul>
<% @portfolio_item.technologies.each do |t| %>
<li><%= t.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_portfolio_path(@portfolio_item) %> |
<%= link_to 'Back', portfolios_path %>
